// @import "variables.less";


/*for IE8 start*/
main,
header,
nav,
article,
aside,
footer,
figure {
    display: block;
}
figcaption {
    display: inline;
}
/*for IE8 end*/



/*------------common styles start--------------*/
*,
*:before,
*:after {
    box-sizing: inherit;
}

.clearfix() {
    &:before, &:after{ 
        content:""; 
        display:table; 
    }
    &:after {
        clear: both; 
    }
}

.hidden() {
    display: none !important;
    visibility: hidden !important;
}

.invisible() {
    visibility: hidden;
}

.text_center() {
    text-align: center;
}

.left() {
    float: left;
}

.right() {
    float: right;
}
.text() {
    font-family: @font-family;
    font-size: @text_default_lg;
    color: @color-black;
}

.title() {
    margin: 20px 0;
    font-family: @font-family_bold;
    font-size: @text_default_lg;
    text-align: center;
    text-transform: uppercase;
    color: @color-black;
}

.text_bold() {
    font-family: @font-family_bold;
}


// buttons start
.btn {
    display: block;

    &:hover,
    &:active {
        
    }
}
// buttons end


/*====================common styles end====================*/



/*====================base styles start====================*/
* {
  -o-transition: all .2s linear; 
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear; 
  transition: all .2s linear; 
}

html {
    box-sizing: border-box;
    font-family: @font-family;
    font-size: @text_default_lg;
    line-height: @line-height_default_lg;
    min-width: @total-width_sm;
    height: 100%;
    background-color: @color-white;
}

body {
    position: relative;
    height: 100%;
    margin: 0;
}

h1, .h1 {
    margin: 20px 0;
    font-family: @font-family_bold;
    font-size: @h1-size_lg;
    line-height: @h1-line-height_lg;
    color: @color-black;   
}

h2, .h2 {
    margin: 20px 0;
    font-family: @font-family_bold;
    font-size: @h2-size_lg;
    line-height: @h2-line-height_lg;
    color: @color-black;   
}

h3, .h3 {
    margin: 20px 0;
    font-family: @font-family_bold;
    font-size: @h3-size_lg;
    line-height: @h3-line-height_lg;
    color: @color-black;
}

h4, .h4 {
    margin: 20px 0;
    font-family: @font-family_bold;
    font-size: @h4-size_lg;
    line-height: @h4-line-height_lg;
    color: @color-black;
}

p {
    font-family: @font-family;
    font-size: @text_default_lg;
    color: @color-black;
    margin: 15px 0;
    line-height: @line-height_default_lg;
}

span {
    font-family: @font-family;
    font-size: @text_default_lg;
    color: @color-black;
    line-height: @line-height_default_lg;
}

a {
    font-family: @font-family;
    font-size: @text_default_lg;
    color: @color-black;
    line-height: @line-height_default_lg;
    text-decoration: none;
    transition: all .2s;

    &:hover {
        text-decoration: underline;
    }

    &[href^="tel"] {
        text-decoration: none;
        white-space: nowrap;
    }
}

input {
    font-size: @text_default_lg;

    &[type="text"],
    &[type="search"] {
        cursor: text;
        text-overflow: ellipsis;
    }

    &[type="text"]:focus::-webkit-input-placeholder {color: transparent; transition: color .3s;}
    &[type="text"]:focus::-moz-placeholder          {color: transparent; transition: color .3s;}
    &[type="search"]:focus::-webkit-input-placeholder {color: transparent; transition: color .3s;}
    &[type="search"]:focus::-moz-placeholder          {color: transparent; transition: color .3s;}

    &[type="radio"],
    &[type="checkbox"] {
        cursor: pointer;
    }
}

label {
    font-size: @text_default_lg;
    cursor: pointer;
}

textarea {
    resize: none;
}

@media (max-width: @total-width_md) {
    h1 {
        margin: 20px 0;
        font-family: @font-family_bold;
        font-size: @h1-size_md;
        line-height: @h1-line-height_md;
        color: @color-black;   
    }

    h2 {
        margin: 20px 0;
        font-family: @font-family_bold;
        font-size: @h2-size_md;
        line-height: @h2-line-height_md;
        color: @color-black;   
    }

    h3 {
        margin: 20px 0;
        font-family: @font-family_bold;
        font-size: @h3-size_md;
        line-height: @h3-line-height_md;
        color: @color-black;
    }

    h4 {
        margin: 20px 0;
        font-family: @font-family_bold;
        font-size: @h4-size_md;
        line-height: @h4-line-height_md;
        color: @color-black;
    }

    p {
        font-family: @font-family;
        font-size: @text_default_md;
        color: @color-black;
        margin: 15px 0;
        line-height: @line-height_default_md;
    }

    span {
        font-family: @font-family;
        font-size: @text_default_md;
        color: @color-black;
        line-height: @line-height_default_md;
    }

    a {
        font-family: @font-family;
        font-size: @text_default_md;
        color: @color-black;
        line-height: @line-height_default_md;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        &[href^="tel"] {
            text-decoration: none;
            white-space: nowrap;
        }
    }

    input {
        font-size: @text_default_md;

        &[type="text"] {
            cursor: text;
        }

        &[type="radio"],
        &[type="checkbox"] {
            cursor: pointer;
        }
    }

    label {
        font-size: @text_default_md;
        cursor: pointer;
    }

    textarea {
        resize: none;
    }

}

@media (max-width: @total-width_sm) {
 
    h1 {
        margin: 20px 0;
        font-family: @font-family_bold;
        font-size: @h1-size_sm;
        line-height: @h1-line-height_sm;
        color: @color-black;   
    }

    h2 {
        margin: 20px 0;
        font-family: @font-family_bold;
        font-size: @h2-size_sm;
        line-height: @h2-line-height_sm;
        color: @color-black;   
    }

    h3 {
        margin: 20px 0;
        font-family: @font-family_bold;
        font-size: @h3-size_sm;
        line-height: @h3-line-height_sm;
        color: @color-black;
    }

    h3 {
        margin: 20px 0;
        font-family: @font-family_bold;
        font-size: @h4-size_sm;
        line-height: @h4-line-height_sm;
        color: @color-black;
    }

    p {
        font-family: @font-family;
        font-size: @text_default_sm;
        color: @color-black;
        margin: 15px 0;
        line-height: @line-height_default_sm;
    }

    span {
        font-family: @font-family;
        font-size: @text_default_sm;
        color: @color-black;
        line-height: @line-height_default_sm;
    }

    a {
        font-family: @font-family;
        font-size: @text_default_sm;
        color: @color-black;
        line-height: @line-height_default_sm;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        &[href^="tel"] {
            text-decoration: none;
            white-space: nowrap;
        }
    }

    input {
        font-size: @text_default_sm;

        &[type="text"] {
            cursor: text;
        }

        &[type="radio"],
        &[type="checkbox"] {
            cursor: pointer;
        }
    }

    label {
        font-size: @text_default_sm;
        cursor: pointer;
    }

    textarea {
        resize: none;
    }
}




/*====================base styles end=====================*/