@color-gray-10:    		#f7f7f5; 
@color-gray-30:  		#edebea;
@color-gray-80: 		#363636;
@color-gray-90: 		#252525;
@color-black: 			#000000;
@color-white: 			#ffffff;
@color-pink: 			#e57076;
@color-red: 			#cf595f;
@color-green: 			#81c784;
@color-green_dark: 		#598e5b;
@color-brown-10: 		#ede3df;
@color-brown-20:  		#d7ccc8;
@color-brown-30:  		#d3bfb4;
@color-brown-40: 		#a39a95;
@color-brown-50: 		#796961;
@color-brown-60: 		#695b54;
@color-brown-80: 		#533e33;

@h1-size: 				40px;
@h2-size: 				30px;
@h3-size: 				20px;

@h1-line-height: 		50px;
@h2-line-height: 		40px;
@h3-line-height: 		30px;

@font-size_small: 		12px;
@font-size: 			14px;
@font-size_medium: 		18px;
@font-size_x-medium:	24px;
@font-size_large: 		30px;
@font-size_x-large: 	36px;

@line-height_small: 	14px;
@line-height: 			18px;
@line-height_large: 	24px;

@total-width: 			1200px;

@font-family:			"RobotoRegular", "Arial", serif;
@font-family_medium:	"RobotoMedium", "Arial", serif;
@font-family_black:		"RobotoBlack", "Arial", serif;
@font-family_bold:		"RobotoBold", "Arial", serif;

@margin-bottom_large: 	150px;
@margin-bottom_medium: 	50px;
@margin-bottom_small: 	30px;