@font-face {
  font-family: 'Roboto Black';
  src: url('../fonts/roboto-black.eot');
  src: url('../fonts/roboto-black.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-black.woff') format('woff'), url('../fonts/roboto-black.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Bold';
  src: url('../fonts/roboto-bold.eot');
  src: url('../fonts/roboto-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Medium';
  src: url('../fonts/roboto-medium.eot');
  src: url('../fonts/roboto-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-medium.woff') format('woff'), url('../fonts/roboto-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Regular';
  src: url('../fonts/roboto-regular.eot');
  src: url('../fonts/roboto-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*for IE8 start*/
main,
header,
nav,
article,
aside,
footer,
figure {
  display: block;
}
figcaption {
  display: inline;
}
/*for IE8 end*/
/*------------common styles start--------------*/
*,
*:before,
*:after {
  box-sizing: inherit;
}
.btn {
  display: block;
}
/*====================common styles end====================*/
/*====================base styles start====================*/
* {
  -o-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}
html {
  box-sizing: border-box;
  font-family: "RobotoRegular", "Arial", serif;
  font-size: 16px;
  line-height: 24px;
  min-width: 320px;
  height: 100%;
  background-color: #ffffff;
}
body {
  position: relative;
  height: 100%;
  margin: 0;
}
h1,
.h1 {
  margin: 20px 0;
  font-family: "RobotoBold", "Arial", serif;
  font-size: 42px;
  line-height: 56px;
  color: #000000;
}
h2,
.h2 {
  margin: 20px 0;
  font-family: "RobotoBold", "Arial", serif;
  font-size: 34px;
  line-height: 40px;
  color: #000000;
}
h3,
.h3 {
  margin: 20px 0;
  font-family: "RobotoBold", "Arial", serif;
  font-size: 28px;
  line-height: 36px;
  color: #000000;
}
h4,
.h4 {
  margin: 20px 0;
  font-family: "RobotoBold", "Arial", serif;
  font-size: 22px;
  line-height: 29px;
  color: #000000;
}
p {
  font-family: "RobotoRegular", "Arial", serif;
  font-size: 16px;
  color: #000000;
  margin: 15px 0;
  line-height: 24px;
}
span {
  font-family: "RobotoRegular", "Arial", serif;
  font-size: 16px;
  color: #000000;
  line-height: 24px;
}
a {
  font-family: "RobotoRegular", "Arial", serif;
  font-size: 16px;
  color: #000000;
  line-height: 24px;
  text-decoration: none;
  transition: all .2s;
}
a:hover {
  text-decoration: underline;
}
a[href^="tel"] {
  text-decoration: none;
  white-space: nowrap;
}
input {
  font-size: 16px;
}
input[type="text"],
input[type="search"] {
  cursor: text;
  text-overflow: ellipsis;
}
input[type="text"]:focus::-webkit-input-placeholder {
  color: transparent;
  transition: color .3s;
}
input[type="text"]:focus::-moz-placeholder {
  color: transparent;
  transition: color .3s;
}
input[type="search"]:focus::-webkit-input-placeholder {
  color: transparent;
  transition: color .3s;
}
input[type="search"]:focus::-moz-placeholder {
  color: transparent;
  transition: color .3s;
}
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}
label {
  font-size: 16px;
  cursor: pointer;
}
textarea {
  resize: none;
}
@media (max-width: 980px) {
  h1 {
    margin: 20px 0;
    font-family: "RobotoBold", "Arial", serif;
    font-size: 31px;
    line-height: 42px;
    color: #000000;
  }
  h2 {
    margin: 20px 0;
    font-family: "RobotoBold", "Arial", serif;
    font-size: 26px;
    line-height: 32px;
    color: #000000;
  }
  h3 {
    margin: 20px 0;
    font-family: "RobotoBold", "Arial", serif;
    font-size: 22px;
    line-height: 29px;
    color: #000000;
  }
  h4 {
    margin: 20px 0;
    font-family: "RobotoBold", "Arial", serif;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  p {
    font-family: "RobotoRegular", "Arial", serif;
    font-size: 16px;
    color: #000000;
    margin: 15px 0;
    line-height: 24px;
  }
  span {
    font-family: "RobotoRegular", "Arial", serif;
    font-size: 16px;
    color: #000000;
    line-height: 24px;
  }
  a {
    font-family: "RobotoRegular", "Arial", serif;
    font-size: 16px;
    color: #000000;
    line-height: 24px;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  a[href^="tel"] {
    text-decoration: none;
    white-space: nowrap;
  }
  input {
    font-size: 16px;
  }
  input[type="text"] {
    cursor: text;
  }
  input[type="radio"],
  input[type="checkbox"] {
    cursor: pointer;
  }
  label {
    font-size: 16px;
    cursor: pointer;
  }
  textarea {
    resize: none;
  }
}
@media (max-width: 320px) {
  h1 {
    margin: 20px 0;
    font-family: "RobotoBold", "Arial", serif;
    font-size: 22px;
    line-height: 29px;
    color: #000000;
  }
  h2 {
    margin: 20px 0;
    font-family: "RobotoBold", "Arial", serif;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
  }
  h3 {
    margin: 20px 0;
    font-family: "RobotoBold", "Arial", serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
  }
  h3 {
    margin: 20px 0;
    font-family: "RobotoBold", "Arial", serif;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
  }
  p {
    font-family: "RobotoRegular", "Arial", serif;
    font-size: 16px;
    color: #000000;
    margin: 15px 0;
    line-height: 22px;
  }
  span {
    font-family: "RobotoRegular", "Arial", serif;
    font-size: 16px;
    color: #000000;
    line-height: 22px;
  }
  a {
    font-family: "RobotoRegular", "Arial", serif;
    font-size: 16px;
    color: #000000;
    line-height: 22px;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  a[href^="tel"] {
    text-decoration: none;
    white-space: nowrap;
  }
  input {
    font-size: 16px;
  }
  input[type="text"] {
    cursor: text;
  }
  input[type="radio"],
  input[type="checkbox"] {
    cursor: pointer;
  }
  label {
    font-size: 16px;
    cursor: pointer;
  }
  textarea {
    resize: none;
  }
}
/*====================base styles end=====================*/
.main-container {
  min-height: 100%;
  position: relative;
  width: 100%;
}
@media screen and (max-width: 1280px) {
  body {
    min-width: 1024px;
  }
}
@media screen and (max-width: 1024px) {
  body {
    min-width: 768px;
  }
}
@media screen and (max-width: 768px) {
  body {
    min-width: 640px;
  }
}
@media screen and (max-width: 640px) {
  body {
    min-width: 480px;
  }
}
@media screen and (max-width: 480px) {
  body {
    min-width: 320px;
  }
}
